article{
margin-top: 61px;
/* display: flex; */
/* flex-direction: row; */
padding: 0 30px;
justify-content: space-around;

padding: 0 30px;
    display: grid;
    grid-template-columns: auto auto;

}

article div{
    width: 561px;
    height: 553px;
}

article div h1{
    text-align: center;
    font-family: Rockwell;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 52px;
}

article div p {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;
}

article div img{
    display: flex;
    margin: 0 auto;
    width: 336px;
    height: 336px;
}

@media(max-width: 1120px){
    article{
        grid-template-columns: auto  ;
    }
    article div{
        margin-bottom: 50px;
    }
}

@media(max-width: 750px){
     article div{
        width: 100%;
    }

    .quemAjudamos img{
        margin-top: 140px;
    }
}
