.ContainerAtividadesCard{
}

.ContainerAtividadesCard h2{
    font-family: Rockwell;
font-style: normal;
font-weight: bold;
font-size: 44px;
color: #343434;
}

.ContainerAtividadesCard h3{
    font-family: Rockwell;
font-style: normal;
font-weight: bold;
font-size: 24px;
margin:5px 0;
text-align: justify;

color: #343434;

}

.ContainerAtividadesCard p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding: 0;
    margin:0;
    padding-bottom: 10px;
    text-align: justify;
    color: #000000;
}

.ContainerAtividadesCard .containerImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.ContainerAtividadesCard .ContainerButton{
    /* border: 1px solid gold; */
    display: flex;
    /* justify-content: center; */
}

.ContainerAtividadesCard hr{
    border: 1px solid #56A995;
}