.containerFooter{
    /* margin-top: 40px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #343434;
}

.containerFooter h1{
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #CBABC5;

}

.containerFooter .bloco1{
    /* border: 1px solid gold; */
}

.containerFooter .bloco2 p{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #FFFFFF
}

.containerFooter .bloco3 .cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    height: 40px;
}
.containerFooter .bloco3 .cont p, .containerFooter .bloco3 .cont a{
    padding-left: 20px;
    color: white
}

@media(max-width: 750px){
    .containerFooter{
        flex-direction: column;
        align-items: center;
    }

    .containerFooter .bloco2 p{
        text-align:center;
        }

        .containerFooter h1{
            width: 100%;
            text-align: center;
            font-size: 18px;
        }

}